html,
body,
#__next {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    font-family: "Henderson BCG Sans", Verdana, Geneva, Tahoma, sans-serif;
    //background: url(../static/background.png) 0 0;
}



.search-entry {
    height: 100%;
    width: 100%;
    background: url(../static/background.png) 0 0;
    overflow-y: auto;
    background-color: #50a17a;

    background-size: 100% 100%;

    header {
        background: #333333;
        color: #fff;
        font-weight: 500;
        padding: 20px 100px;
        display: flex;
        justify-content: space-between;
        line-height: 40px;
    }

    section {
        display: block;

        .combo-box {
            margin-top: 5%;
        }

        .explore {
            display: flex;
            flex-flow: row;
            width: 75%;
            margin: 30px auto 20px;

            .columns {
                width: 31%;
                display: flex;
                flex-flow: column;

                margin-right: 2%;

                &:first-child {
                    margin-left: 10%;
                }

                h3 {
                    color: #fff;
                    text-transform: capitalize;
                    font-size: 30px;
                    font-weight: bold;
                    line-height: 30px;
                    margin: 16px 0 30px;
                }

                ul,
                li {
                    margin: 0;
                    padding: 0;
                    list-style: none;
                    color: #fff;
                }

                li {
                    cursor: pointer;
                    display: flex;
                    height: 33px;
                    color: #FFFFFF;
                    font-size: 16px;
                    font-weight: bold;
                    letter-spacing: 2px;
                    line-height: 33px;
                    margin-bottom: 32px;


                    .dot {
                        height: 33px;
                        width: 33px;
                        border-radius: 28px;
                        margin-right: 16px;
                        background-color: #FAFAFA;
                        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
                        flex-shrink: 0;
                    }
                }
            }
        }
    }
}
