html,
body,
#__next {
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.level-four {
    width: 100%;
    min-height: 100%;
    overflow-y: auto;

    header {
        position: relative;
        background: #333333;
        display: flex;
        flex-direction: row;
        height: 74px;
        width: 100%;
        justify-content: space-between;

        .leftside {
            width: 172px;
            border-right: 2px solid #262626;
        }

        .rightside {
            background: url(../static/rightside.png) 0 0 no-repeat;
            background-size: cover;
            width: 426px;
        }
    }

    .dropdown-wrapper {

        top: 0px;
        left: 0;
        width: 100%;
        height: 74px;

        // width: 154px;
        // height: 65px;

        .dropdown-button {
            border: none;
            background: #333333;

            .dropdown-button-text,
            svg {
                color: white;
            }
        }
    }


    img {
        width: 100%;
        padding-bottom: 20px;
    }

}
