html,
body,
#__next {
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

.level-four {
    width: 100%;
    min-height: 100%;
    overflow-y: auto;

    .dropdown-wrapper {
        position: absolute;
        top: 1px;
        left: 0;

        width: 154px;
        height: 65px;

        .dropdown-button {
            border: none;
            background: #333333;

            .dropdown-button-text,
            svg {
                color: white;
            }
        }
    }


    img {
        width: 100%;
        padding-bottom: 20px;
    }

}
